name: skip-amplify
on:
  push:
    branches: [ main ]
    tags: "[0-9]+.[0-9]+.[0-9]+"
  schedule:
    - cron:  '0 1 * * *'
  workflow_dispatch:
  pull_request:

permissions:
  contents: write

jobs:
  call-workflow:
    uses: skiptools/actions/.github/workflows/skip-framework.yml@v1
    with:
      # needs macos-15 or else concurrency errors like:
      # amplify-swift/Amplify/DevMenu/AmplifyDevMenu.swift:16:37: error: attribute can only be applied to declarations, not types
      runs-on: "['macos-15']"
